/* src/styles/PlayerBanner.css */

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  margin-bottom: 0.5rem;
  margin-top: -0.75rem;
  height: 3.75rem; 
}

.banner-pill {
  padding: 0.5rem 1.5rem;
  border-radius: 1.875rem;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  font-size: 1.4rem; 
  border: 2px solid black; 
}

.player-cash {
  font-size: 1.2em; 
}

.phase-pill {
  text-transform: uppercase;
  letter-spacing: 1px;
  justify-content: center;
}

.turn-status-pill {
    justify-content: flex-end;
}

.floating-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: float-up 1.5s ease-out forwards;
  font-weight: bold;
  pointer-events: none;
}
.floating-text.gain { color: #2ecc71; text-shadow: 0 0 5px white; }
.floating-text.cost { color: var(--color-danger-bright); text-shadow: 0 0 5px white; }